<!DOCTYPE html>
<html>
<head>
    <title>ASCII Art Web</title>
    <style>
        @font-face {
            font-family: 'OpenSans-Regular';
            src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
                url('fonts/OpenSans-Regular.woff') format('woff');
        }
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>
    <form action="/ascii-art" method="post">
        <label for="text">Text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50" required>{{.Text}}</textarea><br><br>
        
        <label for="banner">Banner:</label><br>
        <select id="banner" name="banner">
            <option value="standard" selected>Standard</option>
            <option value="shadow" {{if eq .Banner "shadow" }}selected{{end}}>Shadow</option>
            <option value="thinkertoy" {{if eq .Banner "thinkertoy" }}selected{{end}}>Thinkertoy</option>
        </select><br><br>

        <button type="submit">ASCIIFY!</button>
    </form>
    <pre>{{.Ascii}}</pre>
</body>
</html>
